.container {
  display: flex;
  width: 100%;
  align-items: center;
  max-width: 100%;
  background-color: #051922;
  position: fixed;
  height: 5rem;
}

.content {
	margin-left: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo{
	height: 10%;
}

img {
	height: 5rem;
	width: 7rem;
}

.nav-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-bar{
	display: flex;
	align-items: center;
	font-size: small;
	justify-content: space-around;
}

.opcao-nav-bar{
	margin: 0 1rem;
	font-weight: 700;
}

.opcao-nav-bar:hover{
	cursor: pointer;
	color: orange;
}

li{
	color: white;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 16px;
}

ul {
	width: 100%;
	color: red;
	display: flex;
	justify-content: space-around;
}








/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
	margin-bottom: 0px !important; /* Remover prop do scss */
	padding-left: 0px !important;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
